{
    "include": [
        "**/lib/*"
    ],
    "exclude": [
        "dist",
        "lib/types.ts",
        "**/*.d.ts"
    ],
    "extension": [
        ".ts"
    ],
    "require": [
        "ts-node/register"
    ],
    "reporter": [
        "text-summary",
        "lcov",
        "cobertura"
    ],
    "all": true,
    "sourceMap": true,
    "instrument": true,
    "temp-directory": "./test_results/coverage/.nyc_output",
    "report-dir": "./test_results/coverage"
}